/* .clock-wrapper {
    width: 600px;
    height: 600px;
    background: url('../img/clock.png') no-repeat center;
    margin: auto auto;
    border: 1px solid black;
}

#hour-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(255, 0, 0, 0.459);
    z-index: 0;
    transform: rotate(10deg);
}

#minute-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(217, 255, 0, 0.459);
    z-index: 10;
    transform: rotate(20deg);
}

#second-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(0, 183, 255, 0.459);
    z-index: 20;
    transform: rotate(40deg);
} */