.clock-wrapper {
    width: 600px;
    height: 600px;
    background: url('../img/clock.png') no-repeat center;
    margin: auto auto;
    border: 1px solid black;
}

#hour-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    /* background: rgba(255, 0, 0, 0.459); */
    z-index: 0;
}

#hour {
    height: 150px;
    width: 10px;
    background-color: green;
    position: absolute;
    right: 300px;
    top: 180px
}

#minute {
    height: 180px;
    width: 7px;
    background-color: red;
    position: absolute;
    right: 300px;
    top: 140px
}

#second {
    height: 200px;
    width: 5px;
    background-color: yellow;
    position: absolute;
    right: 300px;
    top: 130px;
}

#minute-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    /* background: rgba(217, 255, 0, 0.459); */
    z-index: 10;
}

#second-hand{
    position: absolute;
    width: 600px;
    height: 600px;
    /* background: rgba(0, 183, 255, 0.459); */
    z-index: 20;
}